.qtip-pavel-efimof {
  background: green;
  font-size: 24px; }

.header-big-wrap {
  background: #48cbe8;
  border-bottom: 17px solid #67dffa;
  padding: 42px 20px 38px;
  border-radius: 5px 5px 0 0;
  text-align: center;
  margin-bottom: 41px; }

.aboutbox-header-big {
  font-family: 'fira_sansbook';
  font-weight: normal;
  font-size: 27px;
  color: #ffffff;
  border: none; }

.contact-form-wrap {
  width: 430px;
  margin: 0 auto; }

.contact-form .textarea {
  height: 182px; }

.contact-form .form-line .form-group {
  width: 48%; }

.contact-form .captcha {
  width: 48%; }

.contact-form .captcha-wrap {
  margin: 0 auto 31px; }

.contact-form .input-captcha {
  height: 32px;
  width: 40%;
  margin-top: 21px;
  padding: 6px 12px; }

.contact-form .button-group button[type="reset"] {
  float: right; }

.contact-form .captcha-wrap .label {
  font-size: 16px; }

#contact-form {
  width: 400px;
  margin: 25px auto; }
  #contact-form > div {
    margin-bottom: 18px; }

.contact-form__group {
  float: left; }
  .contact-form__group:nth-child(2) {
    float: right; }

.label {
  display: block;
  font-family: 'fira_sanslight';
  font-size: 19px; }

.input {
  height: 40px;
  width: 190px; }
  .input.small {
    height: 30px; }

.textarea {
  width: 100%; }

.input, .textarea {
  border: 1px solid;
  border-radius: 4px;
  padding: 15px 10px;
  outline: none;
  background: #fbfcfd;
  color: #4a545d;
  font-family: 'fira_sanslight';
  font-size: 15px; }
  .input::placeholder, .input::-webkit-input-placeholder, .textarea::placeholder, .textarea::-webkit-input-placeholder {
    font-size: 14px;
    color: #48cbe8;
    opacity: 1;
    transition: opacity 0.4s ease;
    text-overflow: ellipsis; }
  .input:focus::placeholder, .textarea:focus::placeholder {
    opacity: 0;
    transition: opacity 0.4s ease; }

.contact-form__captcha.clearfix .contact-form__captcha-box {
  float: left;
  height: 80px;
  width: 190px;
  background: white;
  border: 1px solid;
  border-radius: 4px;
  text-align: center; }
  .contact-form__captcha.clearfix .contact-form__captcha-box .img-align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .contact-form__captcha.clearfix .contact-form__captcha-box .contact-form__captcha-img {
    vertical-align: middle; }

.contact-form__captcha.clearfix .input {
  float: right;
  margin-top: 20px; }

.btn {
  background: #48cbe8;
  color: white;
  width: 140px;
  height: 33px;
  line-height: 30px;
  font-family: 'fira_sansbook';
  font-size: 19px;
  border: none;
  border-radius: 4px;
  border-bottom: 2px solid #3ba8c0;
  outline: none;
  vertical-align: top; }
  .btn:hover {
    border-bottom-color: #48cbe8; }
  .btn:active {
    border-top: 2px solid #3ba8c0;
    border-bottom-color: #48cbe8; }

.btn-res {
  background: #849db5;
  border-bottom: 2px solid #687b8f; }
  .btn-res:hover {
    border-bottom-color: #849db5; }
  .btn-res:active {
    border-top: 2px solid #687b8f;
    border-bottom-color: #849db5; }
  .btn-res .btn {
    float: left; }
  .btn-res .btn-res {
    float: right; }
