.qtip-tittle {
  position: relative;
  padding: 5px 9px;
  overflow: hidden;
  text-align: left;
  word-wrap: break-word; }

.qtip.qtip-mystyle {
  background: #f97e76;
  border-color: #f97e76;
  font-family: 'fira_sansbook', Arial, sans-serif;
  font-size: 13px;
  color: white; }

.textarea {
  width: 100%; }

textarea.has-error {
  border-color: #f97e76;
  background: #fad2d1; }

.input.input.has-error {
  border-color: #f97e76;
  background: #fad2d1; }

.input, .textarea {
  border: 1px solid #48cbe8;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 15px 10px;
  outline: none;
  background: #fbfcfd;
  color: #4a545d;
  font-family: 'fira_sanslight', Arial, sans-serif;
  font-size: 15px; }

.input::-webkit-input-placeholder, .input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: #48cbe8;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  text-overflow: ellipsis; }

.input::placeholder, .input::-webkit-input-placeholder, .textarea::placeholder, .textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: #48cbe8;
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  text-overflow: ellipsis; }

.input:focus::-webkit-input-placeholder, .textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease; }

.input:focus::-moz-placeholder, .textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.4s ease; }

.input:focus:-ms-input-placeholder, .textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.4s ease; }

.input:focus::placeholder, .textarea:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease; }

.feedback-title, .login-title, .add-project__title {
  background: #48cbe8;
  position: relative;
  height: 122px;
  width: 650px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-family: 'fira_sansbook', Arial, sans-serif;
  font-size: 27px;
  border-bottom: 16px solid #51daf8; }

body {
  min-height: 100%;
  position: relative; }

.header::after, .footer::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  background: -webkit-gradient(left top, right top, color-stop(-5%, white), color-stop(50%, #1b6479), color-stop(105%, white));
  background: -webkit-linear-gradient(left, white -5%, #1b6479 50%, white 105%);
  background: -o-linear-gradient(left, white -5%, #1b6479 50%, white 105%);
  background: -webkit-gradient(linear, left top, right top, color-stop(-5%, white), color-stop(50%, #1b6479), color-stop(105%, white));
  background: linear-gradient(to right, white -5%, #1b6479 50%, white 105%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 ); }

.feedback-title, .login-title, .add-project__title {
  background: #48cbe8;
  position: relative;
  height: 122px;
  width: 650px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-family: 'fira_sansbook', Arial, sans-serif;
  font-size: 27px;
  border-bottom: 16px solid #51daf8; }

body {
  min-height: 100%;
  position: relative; }

.header::after, .footer::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  background: -webkit-gradient(left top, right top, color-stop(-5%, white), color-stop(50%, #1b6479), color-stop(105%, white));
  background: -webkit-linear-gradient(left, white -5%, #1b6479 50%, white 105%);
  background: -o-linear-gradient(left, white -5%, #1b6479 50%, white 105%);
  background: -webkit-gradient(linear, left top, right top, color-stop(-5%, white), color-stop(50%, #1b6479), color-stop(105%, white));
  background: linear-gradient(to right, white -5%, #1b6479 50%, white 105%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 ); }
