address.contacts
  .contacts-header
    span.header-inner-text Контакты
  ul.contacts-list
    li.contacts-item.contacts-item-mail
      a.contacts-link(href="mailto:flashfair@gmail.com")
        span.contact-text flashfair@gmail.com
    li.contacts-item.contacts-item-phone
      a.contacts-link(href="tel:+79214017868")
        span.contact-text +79214017868
    li.contacts-item.contacts-item-skype
      a.contacts-link(href="skype:tombaru")
        span.contact-text tombaru