footer.page-footer
	.container
		.lock
			a.lock-inner(href="/login.html")
		.copyright © 2015, Это сайт Ефимова Павла, пожалуйста, не копируйте и не воруйте его

//- bower
script(src='bower_components/jquery/dist/jquery.js')
//- script(src='bower_components/magnific-popup/dist/jquery.magnific-popup.js')
script(src='bower_components/qtip2/jquery.qtip.js')

//- JS
script(src="js/main.js")
script(src="js/validation.js")
script(src="js/contact.js")
//- script(src="js/add-project.js")
script(src="js/login.js")
script(src="js/popup.js")